
div.a {
    position: absolute;
    left:232px;
    top:26px;
    width:57%;
    
}


#scrolltable 
{
     margin-top: 15px; height: 300px; overflow: auto; border: 1px solid #ccc;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 15px;
  

}

#scrolltable table { border-collapse: collapse; }

#table tr {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    padding-top: 20px;
}

