
<div class="a">
    <h2>News</h2>
  <div id="scrolltable">
  <table id="table">
      
        <tr> 
          <title>Happy to announce that we recently won the Digital deal at Macmillan Learning for building the Front-end Engineering</title>
          Dear All,
          <br/>
          Happy to announce that we recently won the Digital deal at Macmillan Learning for building the Front-end Engineering to support Content in their Assessment Application used by Teacher-Student Community.
          <br/>
          About Macmillan Learning:
          Macmillan Learning’s vision is to improve lives through learning. Through deep partnerships with the world’s best researchers, educators, administrators and developers,
           they facilitate teaching and learning opportunities that improve student engagement and success.</tr>
        <tr>Dear RL Family member,
          <br/>
          Exuberanza’18 is just round the corner!
          <br/>
          A lot of careful preparation is going into making it a memorable experience for you and your families. 
          We would request you to fill in the form in the link given below, 
          for us to know the number of family members you wish to bring along and to prepare for the best of experience for you all:
          <br/>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7Rivu_4pRX89pi7FFEVvPB3oQ9NU8KKvqAqsNr1GecfvXjw/viewform?usp=sf_link">
          https://docs.google.com/forms/d/e/1FAIpQLSd7Rivu_4pRX89pi7FFEVvPB3oQ9NU8KKvqAqsNr1GecfvXjw/viewform?usp=sf_link</a></tr>  
        <tr> A lot of careful preparation is going into making it a memorable experience for you and your families. 
          We would request you to fill in the form in the link given below, </tr>
          <tr> A lot of careful preparation is going into making it a memorable experience for you and your families. 
              We would request you to fill in the form in the link given below, </tr>
              <tr> A lot of careful preparation is going into making it a memorable experience for you and your families. 
                  We would request you to fill in the form in the link given below, </tr>
      </table>
  </div>
</div>  