.textup {
    margin-top:10px;
    margin-bottom:10px;
}

.btn-signup {
   color:white;
   background-color: #4DC9FF;
   border: 1px solid #4DC9FF;
   border-radius: 4px;
   padding: 4px 10px;
   margin-top: 10px;
   margin-left: 5px;
}

.backsecond {
    margin-top: 60px;
    margin-bottom:60px;
    background-color: black;
    border-radius: 12px;
    border: 1px solid transparent;
}

.form-control-signup {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: black;
    background-image: none;
    border: 1px solid #454545;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
