<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 backsecond">
<div class="backcolor">

<div class="row text-center">
<h1 Style="color:#4DC9FF;">Sign Up</h1>
</div>

<form>

<div class="col-md-6 col-sm-6 textup">
<input type="text" class="form-control-signup" placeholder="First Name">  
</div>

<div class="col-md-6 col-sm-6 textup">
<input type="text" class="form-control-signup" placeholder="Last Name">  
</div>

<div class="col-md-12 col-sm-12 textup">
<input type="text" class="form-control-signup" placeholder="Username">  
</div>

<div class="col-md-12 col-sm-12 textup">
<input type="email" class="form-control-signup" placeholder="Email">  
</div>

<div class="col-md-12 col-sm-12 textup">
<input type="text" class="form-control-signup" placeholder="Phone Number">  
</div>



<div class="col-md-12 col-sm-12">
<a href="#"><button type="btn" class="btn-signup form-control">Sign Up</button></a><br>
<p align="center" style="font-size:13px; color:white;">You a Have Account ? 

<a routerLink="/login" style="color:#4DC9FF; font-weight:bold;">Log In</a>

</div>

</form>

</div>
</div>