<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-white">
  <!--<a class="navbar-brand" href="https://www.relevancelab.com/"><b>relevance lab</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li>
            <img src="assets/img/logo3.png" alt>
          </li>
      <li class="nav-item active ">
        <a class="nav-link" href="#" data-toggle="tooltip" title="Home">
          <i class="fa fa-home"></i>
         
          <span class="sr-only">(current)</span>
          </a>
    </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>
      <!--     <i class="fa fa-envelope-o">
           <span class="badge badge-danger">11</span>
          </i>-->
          About us</b>
        </a>
      </li>  
     <!-- <li class="nav-item active">
          <div class="dropdown">
              <button class="dropbtn">Employees 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Employee 1</a>
                <a href="#">Employee 2</a>
                <a href="#">Employee 3</a>
              </div>
            </div>
          </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: black; color: white;" >Search</button>
    </form>
        <a class="nav-link" style="color:black; " routerLink="/login">
          <i class="fa fa-sign-in">
          <b>Login</b>
          </i>
        </a> 
  </div>
</nav>
<div class="hero-img">
  <img src="assets/img/rl-home.png" alt>
</div>
