<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
  <div>
<div class="img">
    <img src="assets/img/logo_small.png" alt>
  </div>
    <div class="b">
          Hi Varun
          <a routerLink="/settings"><i  class="fa fa-cog" ></i></a>
    </div>
    <hr style="position: relative; top: 42px;">
   
    <div class="page-container">
       
      <div class="sidebar-menu" >
        
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <div class="menu" >
          <ul id="menu" >
            <li id="menu-home" ><a routerLink="/employee"><i class="fa fa-home"></i><span><b>Home</b></span></a></li>
            <li id="menu-comunicacao" ><a href="#"><i class="fa fa-anchor"></i><span><b>Dash Board</b></span><span class="fa fa-angle-right" style="float: right"></span></a>
              <ul id="menu-comunicacao-sub" >
                <li id="menu-mensagens" style="width: 120px" ><a href="#">Action Items<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                </li>
              </ul>
            </li>
            
            <li id="menu-academico" ><a href="#"><i class="fa fa-sitemap"></i><span><b>Organization</b></span><span class="fa fa-angle-right" style="float: right"></span></a>
              <ul id="menu-academico-sub" >
                <li id="menu-academico-1" ><a href="#">Hr Policies</a></li>
                <li id="menu-academico-2" ><a href="#">Form Details</a></li>
                <li id="menu-academico-3" ><a href="#">It Requests</a></li>
                <li id="menu-academico-4" ><a href="#">Organization Structure</a></li>
                <li id="menu-academico-5" ><a href="#">Blogs</a></li>
              </ul>
            </li>
            <li id="menu-academico" ><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i><span><b>My Details</b></span><span class="fa fa-angle-right" style="float: right"></span></a>
              <ul id="menu-academico-sub" >
                <li id="menu-academico-1" ><a href="#">Attendance</a></li>
                <li id="menu-academico-2" ><a href="#">Leaves</a></li>
                <li id="menu-academico-3" ><a href="#">Compensation</a></li>
                <li id="menu-academico-4" ><a href="#">Personal Details</a></li>
              </ul>
            </li>
            <li id="menu-academico" ><a href="#"><i class="fa fa-product-hunt"></i><span><b>My projects</b></span><span class="fa fa-angle-right" style="float: right"></span></a>
              <ul id="menu-academico-sub" >
                <li id="menu-academico-1" ><a href="#">Team Leaves</a></li>
                <li id="menu-academico-2" ><a href="#">Team Transfer</a></li>
                <li id="menu-academico-3" ><a href="#">Team Appraisals</a></li>
                <li id="menu-academico-4" ><a href="#">Personal Details</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12"><app-news></app-news></div>
        <div class="col-md-3" style="position: relative; top: 59px;left: 1023px;"><app-progress-bar></app-progress-bar></div>
      
    </div>

<div class="row">

  <div class="col-md-3" style="position: relative; top: 77px; left: 202px;"><app-calendar></app-calendar></div>
  <div class="col-md-3" style="position: relative; top: 49px; left: 55px; "><app-connect></app-connect></div>
  <div class="col-md-3" style="position: relative;  top: 60px;left: 33px;"><app-folders></app-folders></div>
  <div class="col-md-3" style="position: relative;  top: 60px;left: -11px;"><app-quick></app-quick></div>
  
</div>
<hr style="position: relative; top: 42px;">
<p style="position: relative; left: 638px; bottom: -33px;">Copyrights reserved , 2019</p>
</div>
