

div.b {
    position: absolute;
    right: 30px;
    top: 20px;
}

div.img {
    position: absolute;
    left:50px;
}

a,
a:hover,
a:active { text-decoration: none; }

    a {
        color: #008DE7;
        font-style: italic;
        font-weight: 700;
      }
   
    
   
    
    a:hover { transition: all 200ms ease-in-out; }
    
    .page-container {
      min-width: 1260px;
      position: absolute;
      top: 25px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: 0px auto;
    }
    
    .page-container.sidebar-collapsed {
      padding-right: 65px;
      transition: all 100ms linear;
      transition-delay: 300ms;
    }
    
    .page-container.sidebar-collapsed-back {
      padding-right: 280px;
      transition: all 100ms linear;
    }
    
    .page-container.sidebar-collapsed .sidebar-menu {
      width: 65px;
      transition: all 100ms ease-in-out;
      transition-delay: 300ms;
    }
    
    .page-container.sidebar-collapsed-back .sidebar-menu {
      width: 280px;
      transition: all 100ms ease-in-out;
    }
    
    .page-container.sidebar-collapsed .sidebar-icon {
      transform: rotate(90deg);
      transition: all 300ms ease-in-out;
    }
    
    .page-container.sidebar-collapsed-back .sidebar-icon {
      transform: rotate(0deg);
      transition: all 300ms ease-in-out;
    }
    
    .page-container.sidebar-collapsed .logo {
      padding: 21px;
      height: 136px;
      box-sizing: border-box;
      transition: all 100ms ease-in-out;
      transition-delay: 300ms;
    }
    
    .page-container.sidebar-collapsed-back .logo {
      width: 100%;
      padding: 21px;
      height: 136px;
      box-sizing: border-box;
      transition: all 100ms ease-in-out;
    }
    
    .page-container.sidebar-collapsed #logo {
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
    
    .page-container.sidebar-collapsed-back #logo {
      opacity: 1;
      transition: all 200ms ease-in-out;
      transition-delay: 300ms;
    }
    
    .page-container.sidebar-collapsed #menu span {
      opacity: 0;
      transition: all 50ms linear;
    }
    
    .page-container.sidebar-collapsed-back #menu span {
      opacity: 1;
      transition: all 200ms linear;
      transition-delay: 300ms;
    }
    
    .sidebar-menu {
      position: absolute;
      float: left;
      width: 200px;
      top: 25px;
      left:0;
      bottom: 35px;
      background-color: whitesmoke;
      color: #aaabae;
      font-family: "Segoe UI";
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    
    #menu {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      background-color: rgba(69, 74, 84, 0.7);
    }
    
    #menu li {
      position: relative;
      margin: 0;
     
      font-size: 12px;
      border-bottom: 1px solid rgba(69, 74, 84, 0.7);
     background-color: whitesmoke;
      padding: 0;
    }
    
    #menu li ul {
      opacity: 0;
      height: 0px;
    }
    
    #menu li a {
      font-style: normal;
      font-weight: 400;
      position: relative;
      display: block;
      padding: 10px 20px;
      color: black;
      white-space: nowrap;
      z-index: 2;
    }
    
    #menu li a:hover {
      color: #ffffff;
      background-color: #333944;
      transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    }
    
    #menu li.active > a {
      background-color: #2b303a;
      color: #ffffff;
    }
    
    #menu ul li { background-color:whitesmoke; }
    
    #menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    #menu li ul {
      position: absolute;
      visibility: hidden;
      left: 100%;
      top: -1px;
      background-color: #2b303a;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.1s linear;
      border-top: 1px solid rgba(69, 74, 84, 0.7);
    }
    
    #menu li:hover > ul {
      visibility: visible;
      opacity: 1;
    }
    
    #menu li li ul {
      right: 100%;
      visibility: hidden;
      top: -1px;
      opacity: 0;
      transition: opacity 0.1s linear;
    }
    
    #menu li li:hover ul {
      visibility: visible;
      opacity: 1;
    }
    
    #menu .fa { margin-right: 5px; }
    
    .logo {
      width: 100%;
      padding: 21px;
      box-sizing: border-box;
    }
    
    .sidebar-icon {
      position: relative;
      float: right;
      margin-top: 32px;
      border: 1px solid #454a54;
      text-align: center;
      line-height: 1;
      font-size: 18px;
      padding: 6px 8px;
      border-radius: 3px;
      color: #888;
      background-clip: padding-box;
      text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    }
    
    .fa-html5 {
      color: #fff;
      margin-left: 50px;
    }

    hr { 
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 2px;
    } 