<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<h1></h1>
<br/><br/><br/>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <br/>
            <h4>Welcome Back.</h4>
            <br/>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control " formControlName="email" required placeholder="email" />
            <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
                <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
              </div>
            <br/>
            <label for="pwd">Password</label>
            <input type="password" id="pwd"  class="form-control " required formControlName="password" placeholder="password" />
            <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
              </div>
              
            <div class="wrapper">
                <br/>
                <span class="group-btn">
                    <a class="btn btn-primary btn-md"  routerLink="/signup" ><b>Sign up</b></a>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="group-btn">  
                    
                <button type="submit" class="btn btn-primary btn-md" ><b>login</b> <i class="fa fa-sign-in"></i></button>  
                <div *ngIf="invalidLogin" class="error">
                    <div>Invalid credentials.</div>
                  </div>
                </span>
                
            </div>
        </form>
            </div>
        
        </div>
    </div>
</div>