

            <table class="table table-striped custab"  id="tablewidth">
                <thead>
               
                    <tr  >
                        
                        <th class="text-center" >Quick Links</th>
                        
                    </tr>
                </thead>
                        <tr>
                            
                            <td class="text-center" ><a  routerLink='/applyLeave'><span class="glyphicon glyphicon-pastry"></span> Apply/Cancel Leave(s)</a> </td>
                            
                        </tr>
                        <tr>
                       
                            <td class="text-center"><a  routerLink='/generalInfo'><span ></span> View General info</a> </td>
                              
                        </tr>
                        <tr>
                            <td class="text-center"><a routerLink='/raiseQuery'>Raise Query</a> </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a ><span class="glyphicon glyphicon-photo"></span></a> </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a ><span class="glyphicon glyphicon-photo"></span></a> </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a ><span class="glyphicon glyphicon-photo"></span></a> </td>
                        </tr>
                </table>
      
   