
#tablewidth{
    
    width:90%;
    padding:10px;
    margin-bottom: 0%;
   
}

#tablewidth td, #tablewidth th {
    padding : 5px;
}


.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

 