
        <table class="table table-striped custab"  id="tablewidth">
        <thead>
       
            <tr  >
                
                <th class="text-center" >Shared Folders</th>
                
            </tr>
        </thead>
                <tr>
                    
                    <td class="text-center" ><a routerLink='/formDetails' ><span class="glyphicon glyphicon-pastry"></span> Form Details</a> </td>
                    
                </tr>
                <tr>
               
                    <td class="text-center"><a  routerLink='/newsletter-details'><span ></span> Newsletter Details</a> </td>
                      
                </tr>
                <tr>
                    <td class="text-center"><a routerLink='/policy-details'><span ></span>Policy Details</a> </td>
                </tr>
                <tr>
                    <td class="text-center"><a routerLink='/it-policies'><span></span>It Policies</a> </td>
                </tr>
                <tr>
                    <td class="text-center"><a routerLink='/organisation-structure'><span></span>Organisation Structure</a> </td>
                </tr>
                <tr>
                    <td class="text-center"><a routerLink='/hr-policies'><span></span>HR Policies</a> </td>
                </tr>
        </table>
    
  