   <div class="a">
      <div class="container" >
          <div class="row col-md-6 col-offset-2 custyle" >
          <table class="table table-striped custab"  id="tablewidth">
          <thead>
              <tr>
                  <th class="text-center" colspan="2" >Connect</th>
                  
              </tr>
          </thead>
                  <tr>
                      <td class="text-center" ><button routerLink="/birthday" class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"><i class="fa fa-birthday-cake"></i> Birthday</button> </td>
                      <td class="text-center" ><button routerLink="/direct" class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"> <span class="glyphicon glyphicon-user"></span> Employee Directory</button></td>
                  </tr>
                  <tr>
                      <td class="text-center" ><button routerLink="/rewards" class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"><i  class="fa fa-star-o" ></i> Rewards</button></td>
                      <td class="text-center" ><button routerLink="/newsletter" class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"><i class=" fa fa-newspaper-o"></i> Newsletter</button> </td>
                  </tr>
                  <tr>
                      <td class="text-center" ><button routerLink="/gallery" class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"><i class="fa fa-camera"></i> Gallery</button> </td>
                      <td class="text-center" ><button class="w3-button w3-smokewhite w3-border w3-border-black w3-round-large" style="font-size: 85%"><i class="fa fa-file-text"></i> Posting</button> </td>
                  </tr>
          </table>
          </div>
      </div> 
      </div>
      