#tablewidth{
    size:100%;
    width:50%;
    padding:8px;
    margin-bottom:0px;
}

#tablewidth tr,#tablewidth td {
    padding : 10px;
    padding-top: 14px;
}
#tablewidth th {
    padding : 10px;
}


.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
	
	