<table id="table2">
  <thead>
    <th style="text-align: center; height:10px; ">My Details</th>
  </thead>
<tr >

<h4>.  Leaves</h4>
<progress-bar  id="progress" [progress]="35" [color]="'#488aff'"> <span  class="popOver" data-toggle="tooltip" data-placement="top" title="leaves:"> </span> </progress-bar>

</tr>

<tr>
<div class="row col-md-6 col-md-offset-2 custyle" id="tablewidth">
      <h4 >Attendance</h4>
        <table class="table table-striped custab"   >
            <thead>
           
                <tr>
                    
                    <th>Present</th>
                    <th>Leave</th>
                    <th>LOP</th>
                    
                </tr>
            </thead>
                    <tr>
                        
                        <td style="text-align: center;">9</td>
                        <td style="text-align: center;">2</td>
                        <td style="text-align: center;">0</td>
                    </tr>
                    
            </table>
    
  </div>
</tr>
<tr>
    <td  >
  <h4 >Salary</h4 >
  Download Payslip</td>
</tr>



</table>

  