#tablewidth 
{
   size: 100%;
    margin-left: 0%;
    padding-bottom: 0%;
}
#tablewidth td
{
   
    padding-bottom: 5px;
}
#tablewidth th
{
    padding-right: 9px;
    padding-left: 12px;
   
}
#progress{
    size: 60%;
}

#table2 {
    border: 1px solid #ccc;
    size: 100%;
}
#table2 td
{
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 1px;
}
#table2 th
{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#table2 tr
{
    border: 1px solid #ccc;
    padding-bottom: 0px;
    width: 90%;
    padding-right: 1px;
}


.custab{
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5% 5%;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

 